services:
  caddy:
    image: caddy:latest
    container_name: caddy
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - reviewer-network
    restart: unless-stopped

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    profiles: ["no-llm-api-key"]
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
      - ./scripts/start-ollama.sh:/start-ollama.sh
    entrypoint: ["/bin/bash", "/start-ollama.sh"]
    networks:
      - reviewer-network
    restart: unless-stopped
    env_file:
      - ./settings.env

  reviewer:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: reviewer
    # depends_on:
    #   - ollama
    env_file:
      - ./secrets.env
      - ./settings.env
    networks:
      - reviewer-network
    restart: unless-stopped
    environment:
      - TZ=UTC

volumes:
  ollama_data:
  caddy_data:
  caddy_config:

networks:
  reviewer-network:
    driver: bridge
